
body{
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.welcome-section{
    height: 600px;
    background-image: url(developer-portfolio/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    float: left;
    text-align: justify;
}
.highlighter{
    color: orange;
}
.half-width img {
    width: 100%;
}
.link{
    text-decoration: none;
    background-image:linear-gradient(45deg, orange, rgb(17, 199, 56));
    color: white;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}
.link:hover{
    color: black;
}
.dream-section{
    margin-top: 10px;
    height: 600px;
    background-image: url(developer-portfolio/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-section{
     margin-top: 10px;
    height: 500px;
    background-image: url(developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.single-experience{
    box-shadow: 10px 20px 10px gray;
    height: 60%;
    border-radius: 5px;
    background-color: white;
}

#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 5px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

footer{
    text-align: center;
    
}